.side
  .side__header
    .side__header--text
      .side__header--text--username
        -# = current_user.name
      .side__header--text--icon
        -# = link_to new_group_path do
          -# =icon('far', 'edit')
        %span<>
        -# =link_to edit_user_path(current_user) do
        -#   =icon('fas', 'cog')
  .side__groups
    -# - current_user.groups.each do |group|
      .group
        -# = link_to group_tasks_path(group) do
          .group--name
            -# = group.name
